numpy==1.24.3
pandas==2.0.2
scikit-learn==1.2.2
xgboost==1.7.6
beautifulsoup4==4.12.2
requests==2.31.0
fastapi==0.99.1
uvicorn==0.22.0
python-multipart==0.0.6
jinja2==3.1.2
python-jose==3.3.0
passlib==1.7.4
pydantic==1.10.9
tldextract>=3.6.0
python-whois>=0.7.3